header {
    display: block;
    /* height: 100vh; */
}
.tytle  {
    text-align: center;
    padding: 50vh 0;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 55px;;
}
h3 {
    font-size: 25px;
}
.welcome {
    background-image: url('img/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar ul {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 82, 18);
}
.navbar li :hover {background-color: lime;}
.navbar li {    
    float: right;
}
.navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 60px ;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.text-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
}
.text-flex span {
    display: block;
    padding: 0px 15%;
}
.news {
    display: flex;
    height: 50vh;
    flex-direction: column;
    background-color: antiquewhite  ;
}
.news h2 {
    text-align: center;
    padding: 4vh;
}

.text {
        width: 33vw
}
/* .animals {
    display: flex;
    vertical-align: top;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */
.pic {
    padding: 5px;
    columns: 2;
    justify-content: space-around;
}
.pic img {border-radius: 50%;}

.animals {
    display: flex;
    flex-direction: column;

}
.animals h2 {
    text-align: center;
    padding: 4vh;
}
.pic-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}