header {
    display: block;
    height: 100vh;
}
h1  {font-size: 30px;}

.welcome {
    background-image: url('img/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 82, 18);
}
.navbar li {    
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 60px ;
    text-align: center;
    border: 1px solid black;

}