header {
    display: block;
    /* height: 100vh; */
}
.tytle  {
    text-align: center;
    padding: 50vh 0;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 55px;;
}
h3 {
    font-size: 25px;
}
.welcome {

    background: linear-gradient(rgba(255,255,255,.5), rgba(255, 255, 255, 0.5)), url('img/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar ul {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 82, 18);
}
.navbar li :hover {background-color: lime;}
.navbar li {    
    float: right;
}
.navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 60px ;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
}
.text-flex span {
    display: block;
    padding: 3vh 15%;
    text-align: center;
    font-size: 18px;
}

.text-flex img {
    display: flex;
    border-radius: 50%;
    width: 30vh;

}
.news {
    display: flex;
    height: 50vh;
    flex-direction: column;
    background-color: antiquewhite  ;
}
.news h2 {
    text-align: center;
    padding: 4vh;
}

.text {
        width: 33vw
}
/* .animals {
    display: flex;
    vertical-align: top;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */
.pic {
    padding: 5px;
    columns: 2;
    justify-content: space-around;
}
.pic img {border-radius: 50%;}

.animals {
    display: flex;
    flex-direction: column;

}
.animals h2 {
    text-align: center;
    padding: 4vh;
}
.pic-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}









.tickets {
    height: 50vh;
    display: flex;
    justify-content: center;
    background-color: rgb(237, 240, 229);
    align-items: center;
    flex-direction: column;
}
.tickets tr{
    font-size: 20px;
    text-align: center;
}
.tickets td {
    padding: 4vh 5vw;
    border: 1px solid;
    background-color: rgb(223, 223, 198);
}
.tickets td:first-child {
    font-weight: bold;
    background-color: bisque;
    
}
.tickets th {
    padding: 2vh 7vw;
    border: 1px solid;
    background-color: bisque;
    font-weight: bold;
}
.tickets h2 {
text-align: center;
margin-bottom: 3vh;
}